{%extends 'base.html'%} {%block content%}
<form action='/parents/edit/{{parent.id}}' method='post'>
    <label for='name'>Parent name</label>
    <input type='text' name='name' id='parent_name' value='{{parent.name}}' required>
    <label for='phone'>Phone number</label>
    <input type='text' name='phone' id='parent_phone' value='{{parent.phone}}' required>
    <label for='email'>Email</label>
    <input type='text' name='email' id='parent_email' value='{{parent.email}}'>
    <label for='address'>Address</label>
    <input type='text' name='address' id='parent_address' value='{{parent.address}}'>
    
    <button type='submit'>Submit</button>
</form>

{%endblock%}