header {
    background-color: rgba(48, 150, 73, 0.603);
    margin: 0px;
    padding: 0px;
    display: flex;
    grid-area: header;
   
    
}

header > ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style-type: none;
}

header > ul > li > a {
   text-decoration: none;
   color: white;
}

body {
    
    background-image: linear-gradient(rgba(81, 206, 81, 0.192),rgba(81, 206, 81, 0.192)), url(images/Fake\ Vet.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-areas: 
    "header"
    "main "
    "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    
}
.info {
    
    padding: 5px;
    
    margin: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
    
}
.info-box  {
  
  border: 1px solid rgba(48, 59, 48, 0.938);
  background-color: rgba(233, 194, 215, 0.253);
  


  
}

footer {
    background-color: rgba(48, 150, 73, 0.603);
    margin: 0px;
    padding: 0px;
    color: white;
    text-align: center;
    grid-area: footer;
    grid: 10%;
    
    
}

main {
    grid-area: main;
}

#comments {
    background-color: white;
}