<html>
    <head>
        <title>Fake Vet Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
    </head>
    <body>
        <header>
            <img src='static/images/Fake Vet.jpg' alt='company logo' width='100' height="110"> 
            <ul>
                <li>
                    <a href='/'>Home</a>                   
                </li>
                <li>
                    <a href='/dashboard'>Dashboard</a>
                </li>
                <li>
                    <a href='/pets'>Pets</a>
                </li>
                <li>
                    <a href='/parents'>Parents</a>
                </li>
                <li>
                    <a href='/doctors'>Doctors</a>
                </li>
            </ul>
        </header>
        <main>
            {%block content%}
            {%endblock%}
        </main>
        
    </body>
    <footer>
        <h2>Fake Vet by Matt</h2>
    </footer>
</html>