{% extends 'base.html' %}{% block content %}


<section class='info'>
    {%for case in active_cases%}
        {%if case.doctor.id == doctor.id and case.completed == False%}
        
            <div class='info-box'>
            
                    <p><b>Case descitpion: </b>{{case.description}}</p></a>
                    <a href='/pets/show/{{case.pet.id}}'>
                        <p><b>Pet: </b>{{case.pet.name}}</p></a>
                    {%if case.emergency == True%}
                        <p>&#x1F534;</p>
                    {%endif%}
                    <form action='dashboard/complete/{{case.id}}' method='post'>
                       <button type='submit'>Complete case</button>
                    </form>
                    <form action='dashboard/pend/{{case.id}}' method='post'>
                        <input type='date' name='check_in'>
                        <button type='submit'>Pend the case</button>
                    </form>
                            
            </div>
        {%endif%}
    {%endfor%}
</section>


{%endblock%}