{% extends 'base.html' %}{% block content %}
<a href='/dashboard/new'>Add a new case</a><br><a href='/dashboard/calendar'>Calendar</a>

<section class='info'>
    {%for case in active_cases%}
        {%if case.doctor == None and case.completed == False%}
            <div class='info-box'>
                    <a href='/pets/show/{{case.pet.id}}'>
                        <p><b>Case descitpion: </b>{{case.description}}</p></a>
                        <p><b>Pet: </b>{{case.pet.name}}</p>
                    </a>
                    {%if case.emergency == True%}
                        <p>&#x1F534;</p>
                    {%endif%}
                    <form action='dashboard/assign/{{case.id}}' method='post'>
                        <select name='doctor_id'>
                            {%for doctor in doctors%}
                            <option value='{{doctor.id}}'>{{doctor.name}}</option>
                            {%endfor%}
                        </select>
                        <button type='submit'>Assign Case</button>
                    </form>
                    
                            
            </div>
        {%endif%}
    {%endfor%}
</section>


{%endblock%}