{% extends 'base.html' %}{% block content %}
<h3>{{month_header}}</h3>
<section>
    <div class='day-box'>
        <p class='day'>Monday</p>
        <p class='day'>Tuesday</p>
        <p class='day'>Wednesday</p>
        <p class='day'>Thursday</p>
        <p class='day'>Friday</p>
        <p class='day'>Saturday</p>
        <p class='day'>Sunday</p>
        {%for day in cal%}
            <div style="height:90px;width:100%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;" id='cal-day'>
                <p>{{day.day}}</p>
                <ol>
                {%for case in cases%}
                    {%if case.check_in == day%}
                        {%if case.severity == 1%}
                            <li><p>{{case.pet.name}}: {{case.description}} {%if case.completed == True%}
                                &#9989;	{%endif%}
                            </p></li>
                        {%elif case.severity == 2%}
                            <li><p style="background-color: yellow;">{{case.pet.name}}: {{case.description}} {%if case.completed == True%}
                                &#9989;	{%endif%}
                            </p></li>
                        {%else%}
                            <li><p style="background-color: red;">{{case.pet.name}}: {{case.description}} {%if case.completed == True%}
                                &#9989;	{%endif%}
                            </p></li>
                        {%endif%}
                    {%endif%}
                {%endfor%}
            </ol>
            </div>
        {%endfor%}
    </div>
</section>

{%endblock%}